In [19]:
import pandas as pd
import numpy as np

In [20]:
SEC_51 = pd.read_csv(r'/Users/saurabhlevin/Deployment/flood-data-ecosystem-Assam/Sources/TENDERS/data/SDRF/SEC/extracted/51st_SEC_flood_related_allocations_aggregated.csv')
SEC_52 = pd.read_csv(r'/Users/saurabhlevin/Deployment/flood-data-ecosystem-Assam/Sources/TENDERS/data/SDRF/SEC/extracted/52nd_SEC_flood_related_allocations_aggregated.csv')
SEC_53 = pd.read_csv(r'/Users/saurabhlevin/Deployment/flood-data-ecosystem-Assam/Sources/TENDERS/data/SDRF/SEC/extracted/53rd_SEC_flood_related_allocations_aggregated.csv')
SEC_54 = pd.read_csv(r'/Users/saurabhlevin/Deployment/flood-data-ecosystem-Assam/Sources/TENDERS/data/SDRF/SEC/extracted/54th_SEC___Aggregated_totals_by_district__from_extracted_items_.csv')

In [21]:
SEC_54

   Unnamed: 0       district  total_amount
0           7       Udalguri  1.633485e+07
1           1      Charaideo  1.485210e+07
2           5         Majuli  5.533500e+02
3           3  Karbi Anglong  1.643000e+01
4           4      Kokrajhar  1.456600e+01
5           6       Morigaon  9.500000e+00
6           2        Darrang  4.000000e+00
7           0        Barpeta  3.994710e+00

In [22]:
concat = pd.concat([SEC_51, SEC_52, SEC_53], ignore_index=True)
# convert 'date' to YYYY_MM (e.g. 2024_10)
concat['date'] = pd.to_datetime(concat['date'], errors='coerce').dt.strftime('%Y_%m')
concat['total_amount_lakhs'] = concat['total_amount_lakhs']*100000

In [23]:
concat['district'] = concat['district'].replace({
    'Kamrup': 'Kamrup Metro',
    'Kamrup (rural)': 'Kamrup',
    'Kamrup (Rural)': 'Kamrup'
})
concat['district'] = concat['district'].str.upper()
concat = concat.rename(columns={'district':'District','date':'timeperiod','total_amount_lakhs':'SDRF funding'})

In [24]:
concat.to_csv(r'/Users/saurabhlevin/Deployment/flood-data-ecosystem-Assam/Sources/TENDERS/data/SDRF/SEC/extracted/51_to_53rd_SEC_flood_related_allocations_aggregated.csv', index=False)

In [7]:
print(SEC_51.head())
print(SEC_52.head())
print(SEC_53.head())
print(SEC_54.head())

  meeting_no        date  district              source_pdf  \
0   51st SEC  2024-10-01   Dhemaji  51th_sec_meeting_0.pdf
1   51st SEC  2024-10-01  Golaghat  51th_sec_meeting_0.pdf
2   51st SEC  2024-10-01    Kamrup  51th_sec_meeting_0.pdf
3   51st SEC  2024-10-01    Majuli  51th_sec_meeting_0.pdf
4   51st SEC  2024-10-01   Nalbari  51th_sec_meeting_0.pdf

   total_amount_lakhs  entries fund_types_included
0            426.7320        3                SDMF
1           1991.7800        6           SDMF,SDRF
2            454.5000        1                SDMF
3             20.7031        1                SDMF
4            118.9322        1                SDRF
  meeting_no        date        district            source_pdf  \
0   52nd SEC  2025-02-03       Charaideo  52nd_sec_meeting.pdf
1   52nd SEC  2025-02-03       Dibrugarh  52nd_sec_meeting.pdf
2   52nd SEC  2025-02-03        Golaghat  52nd_sec_meeting.pdf
3   52nd SEC  2025-02-03          Jorhat  52nd_sec_meeting.pdf
4   52nd SEC  2025-02-03  Kamrup (Rural)  52nd_sec_meeting.pdf

   total_amount_lakhs  entries fund_types_included
0             25.0927        1                SDRF
1           7678.0000        1            NDMF_DPR
2          12108.0000        4            NDMF_DPR
3          19341.0000        4            NDMF_DPR
4           4560.0000        1            NDMF_DPR
  meeting_no        date district              source_pdf  total_amount_lakhs  \
0   53rd SEC  2025-04-09   Dhubri  53rd_sec_meeting_2.pdf                72.0

   entries fund_types_included
0        3                SDRF
   Unnamed: 0       district  total_amount
0           7       Udalguri  1.633485e+07
1           1      Charaideo  1.485210e+07
2           5         Majuli  5.533500e+02
3           3  Karbi Anglong  1.643000e+01
4           4      Kokrajhar  1.456600e+01